<form action="/post/{{ postInfo._id }}/comment" method="POST">
  <label for="input-content">Your Comment</label>
  <textarea name="content" id="input-content" placeholder="Your comment here..."></textarea>

  <button>Submit Comment</button>
</form>