<form action="/post/{{ postInfo._id }}/comment" method="POST">
  <label for="input-content"></label>
  <textarea name="content" id="input-content" placeholder="You can add your comment here..."></textarea>
  <br>
  <button>Submit Comment</button>
</form>