{{#if errormessage}}
<p>heifhsofbsdofbsdofbsdojfbsd</p>
{{/if}}

<div class="sign-in-auth">
    <form action="" method="POST">
         <div class="form-group">
            <label for="inputEmail">Email</label>
            <input name="email" required type="email" class="form-control" id="inputEmail" placeholder="Enter Your Email" required>
        </div>     
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" required name="password" class="form-control" id="inputPassword" placeholder="Enter Your Password" required>
        </div>
        <div class="checkbox">
            <label><input type="checkbox">Remember me</label>
        </div>
        <p class="ml-2" >Are you signed up? If Not: <a href="/authentication/sign-up">Click Here</a></p>
        <button type="submit" class="btn btn-primary mb-2">Login</button>
        <br>
        <a  href="/authentication/google"><img src="/images/google-btn.png" alt="GoogleSignIn"></a>
    </form>
</div>
