<div class="sign-up-auth">
    <form action="" method="POST">
         <div class="form-group">
            <label for="inputUser">Name</label>
            <input name="name" type="text" class="form-control" id="inputUser" placeholder="Enter Your Name" required>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter Your Email" required>
        </div>       
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" required name="password" class="form-control" id="inputPassword" placeholder="Enter Your Password" required>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
        <br>
        <a  href="/authentication/google"><img src="/images/google-btn.png" alt="GoogleSignIn"></a>
    </form>
</div>

