<article class ="own-profile">
<h2>{{author.name}}'s Posts:</h2>

{{#if isOwnProfile}}
<picture class="profile-image">
    <img class="ml-5 w-25 h-25" src={{author.photo}} alt="No-pic">
</picture>
<div class="author-profile">
    <button type="submit" class="btn btn-primary"><a href="/profile/{{author._id}}/edit">Edit</a></button>     
</div>

{{/if}}
</article>
<div class="author-posts">
  {{#each posts}}

  {{>post}}

  {{/each}}
</div>
