<article class ="own-profile">

<h6>Profile Picture:</h6>

{{#if isOwnProfile}}
<picture class="profile-image">
    <img class="ml-5 w-25 h-25" src={{author.photo}} alt="No-pic">
</picture>
<div class="author-profile">
    <button type="submit" class="btn btn-primary"><a href="/profile/{{author._id}}/edit">Edit</a></button>     
</div>

{{/if}}

</article>

 <h4>{{author.name}}'s Posts:</h4>

<div class="author-posts">

  {{#each posts}}

  {{>post}}

  {{/each}}
</div>
