<div class="edit-profile">
    <form action="/profile/{{user._id}}/edit" method="POST" enctype="multipart/form-data">    
        <label for="input-Photo" >Photo</label>
        <input type="file" name="photo" id="input-Photo" accept="image/*" />
         <div class="form-group">
            <label for="inputUser">Name</label>
            <input name="name" type="text" value={{user.name}} class="form-control" id="inputUser" placeholder="Enter Your Name" required>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <h2 id="h2-email-edit">{{user.email}}</h2>
        </div>   
        <div>
             <textarea name="description" id="input-description" placeholder="Describe yourself" maxlength="200"></textarea>
        </div>    
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>     
</div>

