<!--<h1>Main Page</h1>-->
  <aside id ="myUL">
    <h2>Categories</h2>  
    <form class="d-flex flex-column" action="" method="GET">
      <button type="submit" name="category" value="CSS" ><img class="button-lang-img-css" src="/images/css.png" alt="CSS">CSS</button>
      <button type="submit" name="category" value="HTML"><img class="button-lang-img-html" src="/images/html-5.png" alt="HTML">HTML</button>
      <button type="submit" name="category" value="JavaScript"><img class="button-lang-img-js" src="/images/java-script.png" alt="JavaScript">JavaScript</button>      
      <button type="submit" name="category" value="React">React</button>
      <button type="submit" name="category" value="Phyton">Phyton</button>
      <button type="submit" name="category" value="C++">C++</button>
      <button type="submit" name="category" value="General">General</button>
    </form>    
  </aside>

{{#each posts}}

{{>post}}
  <div class="fb-share-button" data-href="https://www.facebook.com/sharer/sharer.php?{{postInfo._id}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partilhar</a></div>


{{/each}}

<button onclick="topFunction()" class="buttontop" title="Go to top"><i class="fas fa-angle-up fa-2x ArrowUpTop"></i></button>            

{{!-- <main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
  <aside>
    <h4>Popular Channels</h4>
    <ul class="page-list">
      {{#each popularPage}}
        <li class="page-item"><a href="/page/{{ _id }}">{{ name }}</a></li>
      {{/each}}
    </ul>
    <p>Didn't find the channel you were looking for? Call David Féliz! 968189131</p>
    <a href="/page/create" class="btn">Create Channel</a>
  </aside>
</main> --}}