<!--<h1>Main Page</h1>-->
  <aside id ="myUL">
    <h2>Categories</h2>  
    <form class="d-flex flex-column" action="" method="GET">
      <button type="submit" name="category" value="CSS" ><img class="button-lang-img-css" src="/images/css.png" alt="CSS">CSS</button>
      <button type="submit" name="category" value="HTML"><img class="button-lang-img-html" src="/images/html-5.png" alt="HTML">HTML</button>
      <button type="submit" name="category" value="JavaScript"><img class="button-lang-img-js" src="/images/java-script.png" alt="JavaScript">JavaScript</button>      
      <button type="submit" name="category" value="React"><img class="button-lang-img-react" src="/images/react-icon.png" alt="React">React</button>
      <button type="submit" name="category" value="Phyton"><img class="button-lang-img-python" src="/images/python-icon.png" alt="Python">Phyton</button>
      <button type="submit" name="category" value="C++"><img class="button-lang-img-cplusplus" src="/images/cplusplusicon.png" alt="C++">C++</button>
      <button type="submit" name="category" value="General"><img class="button-lang-img-general" src="/images/all-icon.png" alt="General">General</button>
    </form>    
  </aside>

{{#each editedPosts}}

{{>post}}
<<<<<<< HEAD
   <form action="/post/{{postInfo._id}}/like" method="POST">
    <button class=""><img src="/" alt="logo icon"></button>
  </form>
  <h2>{{numLikes}}</h2>

=======
   
>>>>>>> 0d8bd9c568500c472c8bbbe4f49a4eb8af18947f
{{/each}}

<button onclick="topFunction()" class="buttontop" title="Go to top"><i class="fas fa-angle-up fa-2x ArrowUpTop"></i></button>            

{{!-- <main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
  <aside>
    <h4>Popular Channels</h4>
    <ul class="page-list">
      {{#each popularPage}}
        <li class="page-item"><a href="/page/{{ _id }}">{{ name }}</a></li>
      {{/each}}
    </ul>
    <p>Didn't find the channel you were looking for? Call David Féliz! 968189131</p>
    <a href="/page/create" class="btn">Create Channel</a>
  </aside>
</main> --}}