<!--<h1>Main Page</h1>-->
<form action="" method="GET">
  <aside>
    <ul id="myUL">
    <h2>Categories</h2>
      <li><a href="#">CSS</a></li>
      <li><a href="#">General</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </aside>
</form>

{{#each posts}}

{{>post}}

{{/each}}

{{!-- <main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
  <aside>
    <h4>Popular Channels</h4>
    <ul class="page-list">
      {{#each popularPage}}
        <li class="page-item"><a href="/page/{{ _id }}">{{ name }}</a></li>
      {{/each}}
    </ul>
    <p>Didn't find the channel you were looking for? Call David Féliz! 968189131</p>
    <a href="/page/create" class="btn">Create Channel</a>
  </aside>
</main> --}}