* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a {
  color: White;
  text-decoration: none;
}

//Authentication/Sign-In
.sign-in-auth {
  margin: 10rem;
}
//Authentication/Sign-Up
.sign-up-auth {
  margin: 10rem;
}
//Profile/Edit
.edit-profile {
  margin: 10rem;
}
