* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(230, 226, 235, 0.5);
}

nav a {
  color: White;
  margin-right: 1em;
}

a {
  color: black;
}

//Authentication/Sign-In
.sign-in-auth {
  margin: 10rem;
  text-decoration: none;
}
//Authentication/Sign-Up
.sign-up-auth {
  margin: 10rem;
  text-decoration: none;
}
//Profile/Edit
.edit-profile {
  margin: 10rem;
}

#h2-email-edit {
  color: black;
  padding: 0.3rem;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(206, 212, 218);
}

//Search List Index.hbs
#myInput {
  margin-left: 4rem;
}

#myUL {
  visibility: hidden;
}

@media only screen and (min-width: 992px) {
  #myUL {
    visibility: visible;
    position: fixed;
    margin-top: 2rem;
    margin: 2rem 2rem;
  }

  #myUL button {
    margin-top: 1rem;
    background-color: #f6f6f6;
    padding: 0.5rem;
    outline: none;
    border: none;
  }

  #myUL button:hover {
    background-color: #eee;
  }

  /*  #myUL li a {
    margin-top: 1rem;
    background-color: #f6f6f6;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    display: block;
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee;
  } */
}
