* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

button:focus {
  outline: 0;
}

body {
  background-color: rgba(230, 226, 235, 0.5);
}

nav {
  text-decoration: none;
}

.navbar {
  box-shadow: 0 2rem 4rem -1rem rgba(250, 123, 123, 0.685);
}

nav a {
  color: White;
  margin-right: 1em;
  text-decoration: none;
}

a {
  color: black;
}

//4lolz img
.fourLolz-logo {
  width: 6%;
  height: 5%;
}

//
#post-author-share-fb {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

//Font-Awesome Icons Sign-In
.auth-icon {
  margin-right: 0.3rem;
}

//Authentication/Sign-In
.sign-in-auth {
  margin: 10rem;
  text-decoration: none;
}
//Authentication/Sign-Up
.sign-up-auth {
  margin: 10rem;
  text-decoration: none;
}
//Profile/Edit
.edit-profile {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.own-profile {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  // margin-left: 1em;
}

.own-profile button {
  margin-top: 1em;
}

.author-profile {
  display: flex;
  margin-left: 3em;
}

.profile-image {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.author-div-posts {
  width: 90%;
  margin: 4rem auto;
}

/* .author-posts {
} */

.post-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

#single-post {
  max-width: 50%;
  max-height: 50%;
}

#h2-email-edit {
  color: black;
  padding: 0.3rem;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(206, 212, 218);
}

//Button Images Index.hbs
.button-lang-img-css {
  float: left;
  width: 1.8rem;
  height: 1.5rem;
}

.button-lang-img-html {
  float: left;
  width: 1.8rem;
  height: 1.5rem;
}

.button-lang-img-js {
  float: left;
  width: 1.5rem;
  height: 1.3rem;
}

//Search List Index.hbs
#myInput {
  margin-left: 4rem;
}

#myUL {
  visibility: hidden;
}

#myULToggler {
  visibility: visible;
}

#myULToggler button {
  color: white;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 992px) {
  .post {
    margin-top: -5rem;
  }
  .postfa {
    margin-top: 8rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    max-height: 10vh;
  }

  #myUL {
    visibility: visible;
    position: fixed;
    margin-top: 2rem;
    margin: 2rem 2rem;
  }

  #myUL button {
    margin-top: 1rem;
    background-color: #f6f6f6;
    padding: 0.5rem;
    outline: none;
    border: none;
  }

  #myUL button:hover {
    background-color: #eee;
  }

  #myULToggler {
    visibility: hidden;
  }
}

.button-like {
  border: none;
}

.button-like img {
  width: 1.5rem;
  height: 1.5rem;
}

.font-likes {
  font-size: 1.5rem;
}

.buttontop {
  position: fixed;
  border: none;
  width: 30px;
  height: 30px;
  background-color: azure;
  bottom: 20px;
  right: 3%;
  z-index: 2;
}

.post a {
  text-decoration: none;
}

#single-post img {
  display: flex;
  align-items: center;
}

.horizontalLineBetweenPosts {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
