<h1>{{ page.category }}</h1>
<p>a page as been inserted</p>
<main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
  <aside>
    <a href="/page/{{ page._id }}/post/create">Create Post</a>
  </aside>
</main>