<article class="single-post d-flex justify-content-center align-items-md-center flex-column">
  <h1>Title: {{ postInfo.title }}</h1>
  <img src="{{postInfo.photo}}" alt="Image-Post">
  <h3>Author: {{postInfo.author.name}}</h3>
  <h5>Category: {{postInfo.category}}</h5>
</article>

  {{#if ownProfile}}
    <button class="">Delete</button>
  {{/if}}

<footer class="d-flex justify-content-center align-items-md-center flex-column">  
  {{#if user}}
  <h4>Add a comment</h4>
  {{>commentform}}
  <br>
  {{/if}}
  <h4>Comments</h4>
  {{#each comments}}
    {{>comment}}
  {{/each}}
</footer>